.center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(7%, -50%);
    min-height: 100px;
    width: 500px;
}

.flex-end{
    justify-content: flex-end !important;
}

input::-webkit-calendar-picker-indicator{
    display: none;
}

.btn-outline{
    outline: 1px solid rgba(95, 95, 95, 0.316) !important;
}

.login{
    color:#FAB246;
}

.botao-laranja{
    background-color: #FAB246 !important;
    width: 115px;
}

.flex{
    display: flex;
    align-items: stretch;
    justify-content: center;
    height: 100vh;
}

.flex aside{
    flex:7;
    display: flex;
    align-items: center;
}

.flex aside div{
    margin-left: 50px;
}

.flex main {
    flex: 12;
    background-color:#FAB246;
}



