.navbar{
    background-color:#FAB246;
}

.navbar-item{
    color: black;
}

.navbar-link{
    color: black;
}

.logoCabecalho{
    width: 4.75rem;
    max-height: 4rem !important;

}

.botaocriar{
    margin-right: 4rem;
}