.fundo{
    height: 100vh;
    background-color: rgb(255 247 221);
}

.none{
    display: none;
}

.colorirErro{
    color: red !important;
}

.black{
    color: black;
}
.colorir{
    color: rgb(0, 141, 82) !important;
}

.botao{
    margin-left: 20px;
}

.card{
    max-width: 45% !important;
    margin: 0 auto;
}

.card30{
    max-width: 30% !important;
}

.end{
    display: flex !important;
    justify-content: space-between !important;
}

.noflex{
    display: block !important;
}

.imguser{
    margin-top: 10px;
    width: 54px;
    margin-right: 28px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid black;
    box-shadow: 1px 1px 10px -8px black;
}

